/* Base Clases */
.hidden { visibility: hidden; }
.align-right { text-align: right; }
align-center { text-align: center; }
.margin { margin: 6px 0; }
.block { display: block; width: 100%; }
.floatLeft { float: left; }
.floatRight { float: right; }
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.relative { position: relative; }
.col2 { width: 50%; }
.col3 { width: 33%; }
* {	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body { background: #e0e0e0; }

/* Table */
.table { display: table; width: 800px;  }
.table-row { display: table-row; }
.table-cell { display: table-cell; padding: 3px 3px; font-size: 10pt; }

/* object list table */
body .list tbody tr:hover td { background: #ffc; }
	.list tbody tr.clickable:hover td { cursor: pointer; }
	.list tr:hover .hidden { visibility: visible;}
.list { width: 100%; border-collapse: separate; }
.list td, .list th { border-bottom: 1px solid #e0e0e0; line-height: 18px; padding: 2px 6px; color: #444; }
.list td { text-align: right; }
.list tr th:first-child, .list tr td:first-child { text-align: left;}
.list tbody tr:nth-child(odd) td { background-color:#f0f0f0; border-top: 1px solid #fff; }
.list tbody tr:nth-child(even) td { background-color:#fff; padding-top: 3px; }

/* Timelog list specifics */
.list thead tr th { text-align: center; font-weight: bold; vertical-align: bottom; }
	.list .date { width: 54px; white-space: nowrap; }
	.list .time { width: 40px; }
	.list .hours { width: 40px; }
	.list .project, .list .category { min-width: 120px; }
	.list .archived { font-style: italic; color: #999; }
.list .day-total { font-weight: bold; color: #444; cursor: pointer; }
.list .timelog td:first-child { background: none; border: 0 none; border-right: 1px solid #ccc; }
.list .timelog td { font-size: 9pt; padding: 1px 6px; font-size: 8pt; line-height: 1.2em; vertical-align: middle }
	.list tbody tr.timelog:nth-child(odd) td { border-top: 0px none; }
	.list tbody tr.timelog:nth-child(even) td { padding-top: 2px; }
	.list tbody .timelog .project, .list tbody .timelog .category, .list tbody .notes {  }

.timelog .notes .truncated { 
	display: block; 
	cursor: pointer;
/*	padding-left: 20px; background: transparent url(../images/icons/comment.png) no-repeat scroll 0px -2px;*/
}

/* Forms */
#Content form { width: 100%; }
	#Content form .formRow { border-bottom: 1px dotted #e0e0e0; }
	#Content form .formRow:after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; }
		#Content form .formRow label { float: left; width: 20%; padding: 14px 4px 8px; }
		#Content form .formRow input 
			, #Content form .formRow select
			, #Content form .formRow textarea { float: left; width: 40%; margin: 12px 0; padding: 4px; }
		#Content form .formRow .hint { float: right; width: 40%; padding: 14px; font-size: 0.9em; font-style: italic; color: #999; }
	/* Checkboxes */
	#Content form .checkboxRow:before { content: "."; width: 20%; float: left; display: block; visibility: hidden; }
		#Content form .checkboxRow input
			, #Content form .checkboxRow label { width: auto; display: inline; margin: 3px 12px 0 0; }
		body #Content form .checkboxRow input { margin-top: 14px; }
	/* Actions/buttons */
	#Content form .formRowActions { padding-left: 20%; }
	 #Content form .formRowActions input, 
		#Content form .formRowActions button { width: 140px; margin: 12px 8px 12px 0; padding: 4px; float: none; display: inline;  } 
	/* Focused on form items */
	#Content form .focused { background: #ffe; }

input.text, textarea { padding: 2px; border: 1px solid #ccc; }
	
#RightCol	.formRow { position: relative; clear: both; margin: 4px 0; }
	#RightCol .formRow .hint, #RightCol .selectFormRow label, #RightCol .textareaFormRow label { display: none; }
		#RightCol .formRow input { width: 100%; text-align: right; }
		/** place holder text won't align to right in chrome - hide for now **/
		#RightCol .formRow input::-webkit-input-placeholder { color: #fff; }
		#RightCol .formRow label { position: absolute; top: 6px; left: 6px; }
		#RightCol .formRow .button { text-align: center; }
		/* 2 Column - Start & End time inputs */
		#RightCol form #EndTime, #RightCol form .formRowActions .floatRight { float: right !important; }
		#RightCol #StartTime, #RightCol #EndTime, #RightCol .formRowActions .button { margin-top: 0; width: 49%; float: left; clear: none; }
		#RightCol form .formRowAction:after { content: "."; display: block; clear: both; visibility: hidden; }

select { text-align: center; }

.button { 
	color: #808080; text-decoration: none; text-transform: capitalize;
	padding: 3px; border-radius: 2px; border: 0 none; cursor: pointer; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f0f0f0,  #ccc);
	text-shadow: 1px 1px 0px #fff; 
	box-shadow: 0px 1px 1px #666;
}
/* When button is being pressed */
.button .button:active {
	color: #999;
	text-shadow: 1px 1px 0px #f0f0f0; 
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#d0d0d0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fafafa,  #d0d0d0);
	box-shadow: inset 0px 0px 3px #666;
}
	/** Red delete button **/
	input.red { 
		background: -webkit-gradient(linear, left top, left bottom, from(#faa), to(#f22)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #faa,  #f22);
		color: #900; 
		text-shadow: 1px 1px 0px #F99;
	}
	input.red:active { 
		background: #f66;
		box-shadow: inset 0px 0px 5px #300;
	}

::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }

/* Timelog form */
.timelogForm { width: 300px; }
	.timelogForm .times input { width: 148px !important; } /* double column input */
	.timelogForm input.col2 { width: 148px; } /* save & cancel buttons */
	.timelogForm .startStop { width: 100%; }
	.timelogForm .border { border: 1px solid #CCCCCC; border-radius: 2px 2px 2px 2px; padding: 3px; }
	/* Default button style */
	#RightCol .button { 
		color: #808080;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #ddd);
		text-shadow: 1px 1px 0px #fff; 
		box-shadow: 0px 1px 1px #666;
	}
	/**
	 * Saving timelog via ajax feedback 
	 * Display absolutely - otherwise the left hand pane may temporarily change height to match
	 */
	#RightCol .block-container { position: relative; }
	#RightCol .block-container .saving { position: absolute; bottom: -20px; left; 0px; }


/* Header */
#Header { 
	padding: 1px 20px 0; 
/*	background: #444 url(../images/fabric-light.jpg) repeat scroll top left; color: #fff;*/
	background: #444;
	border-bottom: 3px solid #fff; /* Same color as current menu item background */
	position: relative; 
	height: 32px;
}
	#Header h1 { margin: 6px 0; font-size: 1.5em; color: #fff; text-shadow: 1px 1px 0 #000; }
	
	/* Main Navigation */
	#MainNavigation { position: absolute; right: 20px; bottom: 0px; }
	#MainNavigation li { float: left; margin-right: 2px; position: relative; }
		#MainNavigation li a { color: #333; text-decoration: none; padding: 7px 10px 4px; background: #ccc; display: block; }
		#MainNavigation li.current a { background: #fff; color: #666; }
		/* Dropdowns */
		#MainNavigation li ul { position: absolute; top: 26px; left: -10px; z-index: 100; width: 140px; box-shadow: 0px 3px 8px #666; }
			#MainNavigation li ul li { display: block; width: 100%; }
				#MainNavigation li ul li a, #MainNavigation li.current ul li a { background: #e0e0e0; font-size: 0.8em; display: block; width: 100%; border-bottom: 1px solid #ccc; border-top: 1px solid #f0f0f0;  }
				#MainNavigation li ul li a:hover { background: #f0f0f0; }
			#MainNavigation li .sf-with-ul { padding-right: 14px;}
				#MainNavigation li .sf-with-ul .sf-sub-indicator { right: 4px; }


/* Layout */
/*#Layout { padding: 10px; }*/
	#Layout .table { width: 100%; }
#LeftCol { background: #fff; padding: 0px; box-shadow: 3px 3px 5px #999; }
	#LeftCol #Heading { margin: 0 0 10px; padding: 7px 20px 3px; background: #f0f0f0; color: #666; text-shadow: 1px 1px 0px #fff; border-bottom: 1px solid #ddd; font-size: 1.4em; position: relative; }
		#LeftCol #Heading .button { position: absolute; right: 0; top: 0; font-size: 11pt; padding: 0 9px 0 5px; height: 31px; line-height: 31px; border-radius: 0; box-shadow: -1px 0 0 #ccc; border-left: 1px solid #fff; }
			#LeftCol #Heading .button img { vertical-align: middle; }
	#LeftCol #Content { margin: 10px; position: relative; }
		/** add link to go in header **/
		.addLink { position: absolute; right: 0px; top: -32px; }
		.addLink:before {	padding-right: 5px; content: url(../images/icons/add.png); vertical-align: top; position: relative; top: -3px; }
		/** prev next links **/
		#LeftCol #Heading .prev-next { opacity: 0.6; }
			#LeftCol #Heading .prev-next:hover { opacity: 1; }
#RightCol { width: 300px; padding: 0 10px; }

/* Buttons */
h2 .button { 
	padding: 6px 10px 2px 6px; background: #e0e0e0;  
	color: #808080; text-decoration: none; 
	text-transform: capitalize;
	box-shadow: 0px 1px 1px #666;
	border-radius: 7px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f0f0f0,  #ccc);
}
.addButton { position: absolute; right: 10px; top: 10px; }
	.addButton span { padding-left: 24px; background: url(../images/icons/add.png) no-repeat scroll 1px -1px; }

textarea { font: inherit; font-size: 0.9em; line-height: 1.1em; padding: 2px; }

/* jquery UI */
/* Dialog modals */
body .ui-widget, .ui-widget-content { line-height: 1.2em; font-size: 9pt; }
.ui-widget-header { font-size: 10pt; }
/* Datepicker */


/* Simple Layout */
.simpleLayout { text-align: center; background: #444; }
	.simpleLayout #Content { padding: 20px 20px 5px; text-align: left; width: 50%; margin: 20px auto 0; background: #f5f5f5; border-radius: 4px; box-shadow: 0px 5px 10px #222; }
	
/* Login form */
.simpleLayout #Heading { margin-top: 40px; color: #aaa; text-shadow: 1px 1px 3px #000; }
.simpleLayout #LoginFormContainer form .formRow input { width: 65%; float: right; }
.simpleLayout #LoginFormContainer label { width: 35%; }
.simpleLayout.users-login #Content { width: 350px; }
.simpleLayout.users-login #Content form .formRowActions { padding-left: 35%; }
.simpleLayout.demo.users-login #Layout { min-height: 340px; background-image: url(../images/login-bg.png); background-repeat: no-repeat; background-position: center 156px;}
.simpleLayout.users-login .message { background: #e5e5e5; border: 1px solid #ccc; font-size: 0.9em; padding: 8px; color: #666; margin-bottom: 12px; }

/* Intro */
.timelogs-intro #Content { padding: 0px; width: 906px; line-height: 0px; }