/* Base Clases */
.hidden { visibility: hidden; }
.align-right { text-align: right; }
align-center { text-align: center; }
.margin { margin: 6px 0; }
.block { display: block; width: 100%; }
.floatLeft { float: left; }
.floatRight { float: right; }
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.relative { position: relative; }
.col2 { width: 50%; }
.col3 { width: 33%; }


body { background: #e0e0e0; }

/* Table */
.table { display: table; width: 800px;  }
.table-row { display: table-row; }
.table-cell { display: table-cell; padding: 3px 3px; font-size: 10pt; }

/* object list table */
body .list tbody tr:hover td { background: #ffc; }
	.list tbody tr.clickable:hover td { cursor: pointer; }
	.list tr:hover .hidden { visibility: visible;}
.list { width: 100%; border-collapse: separate; }
.list td, .list th { border-bottom: 1px solid #e0e0e0; line-height: 18px; padding: 2px 6px; }
.list tbody tr:nth-child(odd) td { background-color:#f0f0f0; border-top: 1px solid #fff; }
.list tbody tr:nth-child(even) td { background-color:#fff; padding-top: 3px; }

/* Timelog list specifics */
.list thead tr th { text-align: left; font-weight: bold; vertical-align: bottom; }
	.list .date { width: 54px; }
	.list .time { width: 40px; }
	.list .hours { width: 40px; }
	.list .project, .list .category { min-width: 120px; }
	.list .archived { font-style: italic; color: #999; }
.list .day-total { font-weight: bold; color: #444; }
.list .timelog td:first-child { background: none; border: 0 none; border-right: 1px solid #ccc; }
.list .timelog td { font-size: 9pt; padding: 1px 6px; font-size: 8pt; line-height: 1.2em; vertical-align: middle }
	.list tbody tr.timelog:nth-child(odd) td { border-top: 0px none; }
	.list tbody tr.timelog:nth-child(even) td { padding-top: 2px; }
	.list tbody .timelog .project, .list tbody .timelog .category, .list tbody .notes {  }

.timelog .notes .truncated { 
	display: block; 
	cursor: pointer;
/*	padding-left: 20px; background: transparent url(../images/icons/comment.png) no-repeat scroll 0px -2px;*/
}

/* Forms */
input.text, textarea { padding: 2px; border: 1px solid #ccc; }
.inlineLabel { position: relative; clear: both; }
	.inlineLabel input { width: 100%; text-align: right; }
	/** place holder text won't align to right in chrome - hide for now **/
	.inlineLabel input::-webkit-input-placeholder { color: #fff; }
	.inlineLabel label { position: absolute; top: 6px; left: 6px; }
select { text-align: center; }

::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }

/* Timelog form */
.timelogForm { width: 300px; }
	.timelogForm #DateInput, .timelogForm textarea { width: 294px; } /* single col input */
	.timelogForm .times input { width: 142px; } /* double column input */
	.timelogForm input.col2 { width: 148px; } /* save & cancel buttons */
	.timelogForm .startStop { width: 100%; }
	.timelogForm .border { border: 1px solid #CCCCCC; border-radius: 2px 2px 2px 2px; padding: 3px; }
	/* Default button style */
	.timelogForm .button { 
		color: #808080; text-decoration: none; text-transform: capitalize;
		padding: 3px; border-radius: 2px; border: 0 none; cursor: pointer; 
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fff,  #ddd);
		text-shadow: 1px 1px 0px #fff; 
		box-shadow: 0px 1px 1px #666;
	}
	/* When button is being pressed */
	.timelogForm .button:active {
		color: #999;
		text-shadow: 1px 1px 0px #f0f0f0; 
		background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#d0d0d0)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fafafa,  #d0d0d0);
		box-shadow: inset 0px 0px 3px #666;
	}

/* Header */
#Header { 
	padding: 1px 20px 0; 
/*	background: #444 url(../images/fabric-light.jpg) repeat scroll top left; color: #fff;*/
	background: #444;
	border-bottom: 3px solid #fff; /* Same color as current menu item background */
	position: relative; 
	height: 32px;
}
	#Header h1 { margin: 6px 0; font-size: 1.5em; color: #fff; text-shadow: 1px 1px 0 #000; }
	
	/* Main Navigation */
	#MainNavigation { position: absolute; right: 20px; bottom: 0px; }
	#MainNavigation li { float: left; margin-right: 2px; }
		#MainNavigation li a { color: #333; text-decoration: none; padding: 7px 10px 4px; background: #ccc; display: block; }
		#MainNavigation li.current a { background: #fff; color: #666; }

/* Layout */
/*#Layout { padding: 10px; }*/
	#Layout .table { width: 100%; }
#LeftCol { background: #fff; padding: 0px; box-shadow: 3px 3px 5px #999; }
	#LeftCol #Heading { margin: 0 0 10px; height: 20px; padding: 7px 20px 3px; background: #f0f0f0; color: #666; text-shadow: 1px 1px 0px #fff; border-bottom: 1px solid #ddd; font-size: 1.4em; position: relative; }
		#LeftCol #Heading .button { position: absolute; right: 0; top: 0; font-size: 11pt; padding: 0 9px 0 5px; height: 31px; line-height: 31px; border-radius: 0; box-shadow: -1px 0 0 #ccc; border-left: 1px solid #fff; }
			#LeftCol #Heading .button img { vertical-align: middle; }
	#LeftCol #Content { margin: 10px; position: relative; }
		/** add link to go in header **/
		.addLink { position: absolute; right: 0px; top: -32px; }
		.addLink:before {	padding-right: 5px; content: url(../images/icons/add.png); vertical-align: top; position: relative; top: -3px; }
		/** prev next links **/
		#LeftCol #Heading .prev-next { opacity: 0.6; }
			#LeftCol #Heading .prev-next:hover { opacity: 1; }
#RightCol { width: 300px; padding: 0 10px; }

/* Buttons */
.button { 
	padding: 6px 10px 2px 6px; background: #e0e0e0;  
	color: #808080; text-decoration: none; 
	text-transform: capitalize;
	box-shadow: 0px 1px 1px #666;
	border-radius: 7px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f0f0f0,  #ccc);
}
.addButton { position: absolute; right: 10px; top: 10px; }
	.addButton span { padding-left: 24px; background: url(../images/icons/add.png) no-repeat scroll 1px -1px; }

textarea { font: inherit; font-size: 0.9em; line-height: 1.1em; padding: 2px; }

/* jquery UI */
/* Dialog modals */
body .ui-widget, .ui-widget-content { line-height: 1.2em; font-size: 9pt; }
.ui-widget-header { font-size: 10pt; }
/* Datepicker */
